<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin HCM | User</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<!-- starting css -->
	<div th:replace="admin/static/css :: css">...</div>
	<!-- end css -->
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <!-- starting header -->
    <div th:replace="admin/static/header :: header">...</div>
    <!-- end header -->

    <!-- starting leftbar -->
    <div th:replace="admin/static/leftbar :: leftbar">...</div>
    <!-- end leftbar -->

    <!--starting content -->
    <div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Tours <small>advanced tables</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Tables</a></li>
					<li class="active">Data tables</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">
									<button type="button" class="btn btn-default pull-right">
										<a th:href="@{/admin/tours/new}"><i class="fa fa-plus"></i> Add</a>
									</button>
									
								</h3>
							</div>
							<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
							
							<!-- /.box-header -->
							<div class="box-body">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>ID</th>
											<th>Title</th>
											<th>Description</th>
											<th>Status</th>
											<th>Image</th>
											<th>Price</th>
											<th>From</th>
											<th>Destination</th>
											<th>Car</th>
											<th>Rating</th>
											<th>Sale off pecent</th>
											<th>Tour details</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="tour : ${tours}">
											<td th:text=${tour.tourId}></td>
											<td th:text=${tour.tourTitle}></td>
											<td th:text=${tour.tourDescription}></td>
											<td th:text=${tour.tourStatus}></td>
											<td th:text=${tour.tourImage}></td>
											<td th:text=${tour.tourPrice}></td>
											<td th:text=${tour.from.placeName}></td>
											<td th:text=${tour.destination.placeName}></td>
											<td >
												<a th:href="@{'/admin/cars'(id=${tour.car.id})}">
													<button type="button" class="btn btn-default pull-right">
														<i class="fa fa-pencil"></i>
													</button>
											    </a>
											</td>
											<td th:text=${tour.tourRating}></td>
											<td th:text=${tour.tourSaleOff}></td>
											<td >
												<a th:href="@{'/admin/tourdetails'(id=${tour.tourId})}">
													<button type="button" class="btn btn-default pull-right">
														<i class="fa fa-pencil"></i>
													</button>
											    </a>
											</td>
											<td>
											  <a th:href="@{'/admin/tours/edit'(id=${tour.tourId})}">
												<button type="button" class="btn btn-default pull-right">
													<i class="fa fa-pencil"></i>
												</button>
											  </a>
												<a th:href="@{'/admin/tours/delete'(id=${tour.tourId})}">
												<button type="button" class="btn btn-default pull-right">
													<i class="fa fa-trash"></i>
												</button>
												</a>
												<button type="button" class="btn btn-default pull-right">
													<i class="fa fa-gg"></i>
												</button>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
    <!-- end content -->

    <!-- starting footer -->
    <div th:replace="admin/static/footer :: footer">...</div>
    <!-- end footer -->

    <!-- starting right bar -->
    <div th:replace="admin/static/rightbar :: rightbar">...</div>
    <!-- end rightbar -->

    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- starting js -->
<div th:replace="admin/static/js :: js">...</div>
<!-- end js -->
</body>
</html>
